html{
    display: flex;
    flex-direction: column;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: purple;
}

#root{
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

.corpo{
    flex: 1;
    height: 67%;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgb(91, 1, 91) 75%, rgb(54, 0, 54));
}

.blocolobby{
    background-image: url(/src/images/background.png);
    background-repeat: repeat;
    background-size: 300px;
    height: 100%;
    padding: 30px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex: 1;
}

.blocobotoes1{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    height: 360px;
    align-items: center;
    justify-content: center;
}

.blocobotoes2{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    height: 350px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

header > h1{
    padding-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 700;
    color: antiquewhite;
}

header > h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 500;
    color: antiquewhite;
}

h3{
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    font-weight: bold;
}

h4{
    margin: 0px;
    font-weight: 100;
}

.botoes{
    display: flex;
    width: 600px;
    gap: 5px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.botoes > button {
    padding: 10px;
    margin: 10px 10px;
    font-size: 0.75em;
}

.imagens{
    padding: 10px;
    display: flex;
    max-width: 600px;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.participantes{
    display: flex;
    gap: 200px;
}

.times{
    display: flex;
    gap: 240px;
}