body {
    background-color: purple;
    margin: 15px;
}

.bloco {
    background-color: white;
    margin: auto;
    height: 635px;
    width: 1460px;
}

/*
Config padrão das abas em cima
*/

#topo{
    display: flex;
    justify-content: space-between;
}

#esquerda{
    display: flex;
    justify-content: left;
    max-width: 100%;
}

#esquerda > img{
    padding: 10px 20px 10px 20px;
}

#direita{
    display: flex;
    justify-content: right;
    max-width: 100%;
}

#direita > img{
    padding: 10px 20px 10px 20px;
}

#tit {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: sans-serif;
    font-size: 1.5em;
    margin: 5px 0px 5px 0px;
}

#mid {
    display: flex;
    justify-content: center;
}

.time{
    display: grid;
    align-content: center;
}

.time > img{
    padding: 10px 30px;
}

.time > p{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    margin: 3px;
}

#X{
    font-family: sans-serif;
    font-size: 1.5em;
    align-content: center;
    margin: 0px 30px 70px 30px;
}

.pontos {
    font-family: sans-serif;
    font-size: 1.5em;
    align-content: center;
    margin: 0px 0px 70px 0px;
}

.perg {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
}

.perg > p{
    margin: 8px 16px 16px 16px;
}