body {
  background-color: purple;

}

.bloco {
  background-color: white;
  margin: auto;
  align-self: center;
  height: 635px;
  width: 1460px;
}

/*
Config padrão das abas em cima
*/

#topo {
  display: flex;
  justify-content: space-between;
  margin-top: 7vh;
}

#esquerda {
  display: flex;
  justify-content: left;
  max-width: 100%;
}

#esquerda > img {
  padding: 10px 20px 10px 20px;
}

#direita {
  display: flex;
  justify-content: right;
  max-width: 100%;
}

#direita > img {
  padding: 10px 20px 10px 20px;
}

#tit {
  display: flex;
  justify-content: center;
}

h1 {
  font-family:  Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
  margin: 5px 0px 5px 0px;
}

#mid {
  display: flex;
  justify-content: center;
}

.time {
  display: grid;
  align-content: center;
}

.time > img {
  padding: 10px 30px;
}

.time > p {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
  margin: 3px;
}

#X {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
  align-content: center;
  margin: 0px 30px 70px 30px;
}

.pontos {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  align-content: center;
  margin: 0px 0px 70px 0px;
}

.perg {
  display: flex;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  font-weight: bold;
}

.perg > p {
  margin: 8px 16px 16px 16px;
}

.textoPergunta{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2em;
}

.semFim {
  display: none;
}

.fim {
  display: flex;
  justify-content: center; /* Centraliza o bloco inteiro na página */
  align-items: center; /* Alinha verticalmente a imagem e o texto */
  margin-top: 20px;
}

.resultadoBotao {
  display: flex;
  flex-direction: column; /* Faz o nome e a universidade ficarem um abaixo do outro */
  margin-left: 20px; /* Espaço entre a imagem e o texto */
}

.nomeBotao, .universidadeBotao {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0;
}